@import "./css/cores.css";

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
ul,
h1,
p,
h3 {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Header e Menu */

.header-bg {
  background-color: var(--cor-12);
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  position: relative;
  display: inline-block;
  padding: 16px 0px;
  color: var(--cor-0);
  font-size: 1.125rem;
}
.header-menu a::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 0;
  margin-top: 4px;
  background-color: var(--cor-0);
  transition: 0.3s;
}
.header-menu a:hover::after {
  width: 100%;
}

/* Responsivo */

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

/* Introdução */

.introducao-bg {
  background-color: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -120px var(--cor-0);
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}
.introducao h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  line-height: 1.125;
}
.introducao p {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--cor-5);
}
.introducao a {
  display: inline-block;
  padding: 1rem 2rem;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  color: var(--cor-p5);
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.125rem;
  font-weight: bold;
}
.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* Responsivo */

/* Bicicletas lista */
.bicicletas-lista {
  padding: 80px 0px;
}
.intro-lista {
  font: 600 4rem/1.125 "Poppins", sans-serif;
  margin-bottom: 20px;
}
.lista-bicicletas {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  gap: 40px;
}
.bike-lista h3 {
  display: flex;
  align-items: center;
  font: 600 2rem/1.25 "Poppins", sans-serif;
  margin: 12px 0;
}
.bike-lista h3::before {
  content: "";
  width: 12px;
  height: 6px;
  margin-right: 10px;
  display: inline-block;
  background-color: #ffbf00;
  transition: 0.15s;
}
.bike-lista h3:hover::before {
  width: 22px;
}
.bike-lista img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}
.bike-lista span {
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
  color: var(--cor-8);
  margin-left: 22px;
}

/* TECNOLOGIA */
.tecnologia-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
  padding: 0;
}

.tecnologia-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.tec-desc {
  padding: 160px 0;
}
.img-cont {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 4px;
}

.lista-tec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.tec-intro,
.tec-texto {
  display: block;
  margin-bottom: 20px;
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.015em;
}
.tec-titulo {
  margin-bottom: 32px;
  font: 600 4rem/1.125 "Poppins", sans-serif;
}
.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  border-bottom: solid 4px var(--cor-p1);
  margin-bottom: 80px;
}
